@mixin media($size) {
    @media screen and (min-width: $size){
        @content;
    }
 }
//media SASS pattern
@media screen and (max-width: 370px){
    header > div#logo {
        position: relative;
        z-index: 2;
        & > a.site__header--logo--href {
            min-height: 110px;
            background: #000000 url('/style/css/logo.jpg') no-repeat center;
            background-size: cover;
            background-position: 0px -10px;
            }
        & > h1.site__header--h1--logo {
            display: none;
        }
    }

    .span__h1--title {
        color:gold;
        font-family: 'Monoton', cursive;
        font-size: 1.28em;
        text-align: left;
        padding: 0px;
        display:block;
        line-height: 1.75;
        transition: opacity 2s,transform 2s; 
    }
    .span__h1--title:hover {
        opacity: 0;
        transform: scale(1.25);
    }
    
}
@media screen and (min-width: 370px) and (max-width:480px) {
    header div#logo > a.site__header--logo--href {
        display: none;
        }
    header div#logo > h1.site__header--h1--logo {
        display: grid;
        background-image: none;
        font-size: 3.225rem;
        color: #F2B705;
        text-align: center;
        font-family: 'Monoton', cursive;
    }
}
//media for phone size devices
@media screen and (min-width: $sizeTablet){
    header > #logo {
        background-image: none;
        font-size: 4.5rem;
        color: #F2B705;
        text-align: center;
        font-family: 'Monoton', cursive;
        align-items: center;
        justify-content: center;
        & > a.site__header--logo--href {
            display: none;
        }
    }
    header > nav > ul {
        min-height: 50px;
        flex-direction: row;
        li, li:first-child, li:last-child {
            width: 25%;
            margin: 0px;
            align-self: center;
            a {
                min-width: 110px;
                width: 75%;
                margin: auto;
            }
        }
    }
    div.card {
        max-width: 50vw;
    }
};

@include media($sizeMedium){
    // #screenNavbar {
    //     display: none;
    // }
    header {
        display: flex;
        > #logo {
            width: 35%;
            & > a.site__header--logo--href {
                min-height: 110px;
                max-width: 100%;
                background: #000000 url('/style/css/logo.jpg') no-repeat center;
                background-size: cover;
                display: block;
                background-position-y: -30px;
                }
            & > .site__header--h1--logo {
                display: none;
                place-items: center;
            }
        }
        & > nav {
            width: 65%;
            & > #screenNavbar {
                display: none;
            }
            & ul {
                align-items: center;
                align-self: center;
                // line-height: 0.5;
                //ToFix after cloesed nav.linkList from screenSize for small devices, nav links did't appear --window.screen.width >= 1024
                & > li, li:first-child, li:last-child {
                    max-width: 150px;
                    margin: 0px;
                    }
            }
        }
    }
    div.card {
        max-width: 33vw;
        margin-left: 3px;
    }
    .hellow {
        height:75vh;
        .span__h1--title {
            font-size: 5rem;
            line-height: 5;
        display: inline-block;
    }}
}
@include media($sizeLarge) {
    header {
        max-height: 35vh;
        & > div#logo > a.site__header--logo--href {
            background-position: 0px 15px;
            display: block;
            background-position-y: -50px;
        }
        nav > #screenNavbar {
            display: none;
        }
        nav > ul {
            align-self: center;
            justify-content: flex-end;
            & > li,li:first-child, li:last-child  {
                justify-self: stretch;
                place-self: center right;
                & a.navButton {
                    width: 80%;
                    margin: 0px;
                }
            }
    }
    main > article > div.card {
        max-width: 33%;
        margin-left: 3px;
    }
}}//margin in a 
// folder /zdjecia