@mixin fixedForm {
    position: fixed;
    display: flex;
    flex-direction: column;
}
@mixin titleFontStyle {
    color: gold;
    text-shadow: #000 4px 4px 3px ;
    font-size: 1.125rem;
    font-weight: 100px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 8px;
}