
.linkList {
    animation: SlideDown 300ms ease ;
}
.linkListHide {
    animation: SlideDown 300ms ease reverse forwards ;
}
@keyframes SlideDown {
    from {
        transform: translateY(-200px);
    }
    to {
        transform:  translateY(0px);
    }
}