$backColor: #F2F2E2;
$buttonColor: #F2B705;
$hoverButtonColor: #F29F05;
$fontColor: #262626;
// Colors
$sizePhone: 320px;
$sizeTablet: 481px;
$sizeSm: 769px;
$sizeMedium: 1025px;
$sizeLarge: 1201px;

$minFormSize: 400px;
// siezes
$formCubicFunction: cubic-bezier(.24,.85,.74,.92);

