$backColor: #F2F2E2;
$buttonColor: #F2B705;
$hoverButtonColor: #F29F05;
$fontColor: #262626;
// Colors
$minSmallScreen: 320px;
$minSmallLandScreen: 960px;
$MediumScreen: 1024px;

$minFormSize: 400px;
// siezes
$formCubicFunction: cubic-bezier(.24,.85,.74,.92);

