@import "variables.scss";
@import "_mixin.scss";
@import "_styleReset.scss";
@import "_menuBtn.scss";
@import "_navSlider.scss";
@import "__animation.scss";
*,*::after,*::before {box-sizing: inherit;
};

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    background-color: #F2B705;
    font-family: 'Oxygen', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}

header {
    width: 100%;
    min-height: 20vh;
    //media for max height for better view
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 3px 4px black;
    > #logo {
        display: flex;
        position: relative;
        z-index: 2;
        width: 100%;
        min-height: 120px;
        background-size: cover;
        background-color: black;
        & > h1 {
            z-index: 2;
            align-content: center;
            text-shadow: 2px 1px 10px #F2B705;
            & > .site__header--h1--href {
                width: inherit;
                font-size: 2.5rem;
                text-decoration: none;
                color: #F2CB05;
            } 
        }
    }
    nav {
        width: 100%;
        display: grid;
        position: relative;
        & > #screenNavbar {
            z-index: 2;
        }
        & div>button.listMenuDisplay {
            display: flex;
            place-items: center;
            position: relative;
            float: right;
            background-color: black;
            border: none;
            width: 50px;
            height: inherit;
            padding: 0px;
            padding-top: 0px;
            margin: 0px .5em auto 0.5em;
            outline: none;
            cursor: pointer;
            & div {
                background-color:#F2B705;
                margin-bottom: 0px;
            }
            &:focus {
                outline: 1px dotted gold;
            }
        }
        & div {
            height: 50px;
            background-color: black;
        }
        // Fixed menu navbar form mobile
    } 
      
}
.site__header--logo--href {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.burger {
  width: 100%;
  height: 14.5%;
  border-radius: 25px;
  position: absolute;
  background: rgba(0,0,0,.8);

    &:first-child {
        background-color: gold;
    }
    &:nth-child(2){
        background-color: gold;
    }
    &:last-child {
        background-color: #ffd700;
    }
}
ul {
    max-height: 200px;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    > li {
        text-decoration: none;
        text-align: center;
        margin: 0 10px;
        margin-bottom: 10px;
        &:first-child {
            margin-top: 1em;
        }
        &:last-child {
            margin-bottom: 1em;
        }
    }
}

a {
    text-decoration: none;
}
.navButton {
    display: block;
    width: 60%;
    cursor: pointer;
    border: 2px solid #F2B705;
    border-radius: 25px;
    color: $buttonColor;
    padding: .25em;
    margin: .250em auto;
    text-shadow: 0 0 0.45em hsl(45, 96%, 48%);
    box-shadow: 0 0 0.5em hsl(45, 96%, 48%);
}
li .navButton:hover{
    color: black;
    box-shadow: 2px -2px 5px -2px #F2B705;
    transform: scale(1.1);
    font-size: 1.125em;
    font-weight: 450;
    background: #F2B705;
}
.menu__item--active {
    transform: scale(1.1);
    color: black;
    background-color:#F2B705 ;
}
// @keyframes navButtonGradient{
//     0% {
//         background: linear-gradient(90deg, #F29F05 50%, #F2B705);
//     }
//     50% {
//         background: radial-gradient(circle,#F29F05 0%,#F2B705 100%); // button BACKGROUNG
//     }
//     100% {
//         background: linear-gradient(90deg, #F2B705,#F29F05 50%);
//     }
// }
// li:active {
//     box-shadow: inset 2px 2px #F2B705;
// }
.imgsvg{
    position: relative;
    top: 20%;
    left: 55vw;
}
/* 
Color:
logo:#daa51f

#F2CB05
#F2BF29
#fbd03f
F05 //color orange?
radial-gradient: background: radial-gradient(circle, rgba(251,208,63,1) 0%, rgba(242,191,41,1) 100%);
#F2F2F2
#262626
*/
.appearFormButton {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 1em;
    top: 82.5vh;
    background-color: #F2CB05
}
.appearContact {
    animation: makeFormAppear 400ms ease-in-out ;
}
.disappearContact {
    animation: makeFormDisappear 400ms ease-in-out forwards;
}
form {
    @include fixedForm;
    min-width: $sizePhone;
    max-width: $sizeTablet;
    top: 10vh;
    right: 0px;
    background-color: rgba(#3a3a39, 0.7);
    z-index: 5;
    padding: 16px;
    border-radius: 15px;
}
/* form field */
label {
    display: block;
    font-weight: 300;
    margin-left: .25em;
    color: #ddbc58;
}
input::placeholder {
    color:black;
}
.userData {
    font-weight: 500;
    background-color: #F2F2F2;
    color: #262626;
    height: 0.5em;
    padding: 1em;
    font-size: 1em;
    margin-bottom: 0.5em;
    border: 1px solid rgb(88, 88, 88);
}
textarea.userData{
    margin-bottom: 0px;
    font-family: inherit;
    min-height: 8em;
    resize: none;
    border-bottom: none;
}
.dogSizeCheckbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: .75em;
    margin-bottom: .5em;
    justify-content: space-evenly;
    &>label>span {
        align-items: center;
    }
    
}
.sizeValue > {
    color:#0c1c2b;
}

.inputValid {
    border-left: 0.5em solid rgb(61, 144, 61) ;
    animation: validationMark .5s ease ;
}
.inputInvalid {
    border-left: 0.5em solid rgb(190, 65, 65) ;
    animation: validationMark .5s ease ;
}

@keyframes validationMark{
    from {
        border-left: 0em solid ;
    }
    to {
        border-left: 0.5em solid;
    }
}
@keyframes makeFormAppear{
    0% {
        right: -320px;
    }
    100% {
        right: 0px;
    }
};
@keyframes makeFormDisappear {
    from { 
        right: 0;
    }
    to {
        right: -320px;
    }
}
/* input field */

form button {
    position: relative;
    min-height: 2em;
    padding: 1em;
    font-size: large;
    background-color: #F2CB05;
    border: 1px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px ;
}
form button::before {
    content: '';
    display: inline-block;
    height: 2px;
    position: absolute;
    top:80%;
    left:35%;
    text-align: center;
}
form button:hover {
    background-color: #F2B705;
}
// form button:hover::before {
//     animation: buttonHover 1s forwards;
// }
// @keyframes buttonHover {
//     from {
//         width: 0%;
//     }
//     to {
//         width: 30%;
//         background-color: #262626;
//     }
// }
/* form email button styles */

.slider {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 50vh;
    background-size: contain;
}
.slide {
    display: none;
}
.activeSlide {
    display: block;
}
i {
    display: inline-block;
    width: 12.5%;
    height: inherit;
    background-color: #F2B705;
}

main {
    width: 100%;
}
.card {
max-width: max-content;
min-width: 140px;
overflow: hidden;
position: relative;
float: left;
    .card__img::hover{
        cursor: pointer;
        transform: scale(1.4);     
    }
}

img.card__img {
    width: 100%;
    object-fit: contain;
}
#linkList {
    transition: opacity 300ms linear;
}
@import "_media.scss";
@import "_footer.scss";


.hellow {
    color: #F2B705;
    text-align: center;
    font-size: 1.50em;
    font-weight: 100;
    padding: 0.5em;
    line-height: 1.25em;
    font-family: 'Monoton', san-serif;
    text-shadow: 1px 2px 5px #F2CB05;
    position: relative;
    word-spacing: 0.5em;
}

.hellowMessage {
    margin-left:.5em;
    padding: 1em;
    font-size: 1.25em;
    font-weight: 200;
    line-height: 1.5;
    color: #F2B705;
    text-align: justify;

}
span.adnotation {
    text-align: center;
    color: white;
    font-size: 1.425em;
    padding: 1em 1em 3.5em .5em;
    display: block;
    line-height: 1.4;
}
main > article.introduce{
    background-color: #010101;
    min-height: 75vh;
}
article.colar {
    width: 100vw;
}
// classes .mail and icon come from https://cssicon.space/#/icon/mail
.mail.icon {
    color: #000;
    position: absolute;
    width: 17px;
    height: 10px;
    border-radius: 1px;
    border: solid 1px currentColor;
    transform: scale(2);
    transform-origin: center center;
  }
  
  .mail.icon:before {
    content: '';
    position: absolute;
    left: 7px;
    top: -4px;
    width: 1px;
    height: 10px;
    background-color: currentColor;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(-54deg);
            transform: rotate(-54deg);
  }
  
  .mail.icon:after {
    content: '';
    position: absolute;
    left: 7px;
    top: -4px;
    width: 1px;
    height: 10px;
    background-color: currentColor;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(54deg);
            transform: rotate(54deg);
  }
  
.spaceDog {
    max-height: 50px;
    position: absolute;
}
.priceTable__table--style tbody{
    overflow: auto;
    height: 100px;
  }
.priceTable__header{
    font-size: 1.125rem;
    font-weight: 100px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 8px;
    line-height: 2em;
    font-style: bold;
    color: gold;
    background-color: #202b35;
    text-shadow: #000 4px 4px 3px ;
}
.priceTable{
    width: 100%;
    display: flexbox;
    overflow-x: scroll;
}
.priceTable__table--style{
    width: 100%;
}
.tableCel {
    border: #0c1c2b 1px solid;
    max-width: 50vw;
    min-width: 30px;
    min-height: 90px;
    padding: 4em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;   
}
.tableCel__header{
    font-size: 1.125rem;
    color: #F2B705;
    background-color: #202b35;
    padding: 1em;
}
.tableRow__footer, .tableRow__header{
    overflow-x: scroll;
    width: 10%;
    height: 100px;

}
.tableRow__footer {
    width: 10vw;
    .tableCel__footerAnnotation  {
        font-family: 'Poppins', sans-serif;
        color: #ddbc58;
        background-color: #000;
        text-align: center;
        border-top:2px solid #F2B705;
        border-bottom: 1px solid black;
    }
    .tableCel_footerInformation{
        text-align: center;
        color: #F2B705;
        background-color: #000;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        word-spacing: 3px ;
        // width: 100vw;
        border-bottom:2px solid #F2B705;
        border-left:2px solid #F2B705;

    }
}
.priceTable::-webkit-scrollbar {
    width: 1em;
  }
   
  .priceTable::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .priceTable::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
#phoneNumber{
    line-height: 50px;
    color: #F2B705;
    transition: opacity 1000ms;
    opacity: 0;
}
#callMe:focus{
    outline: 1px dotted gold;
}
#callMe:hover{
    border-bottom:3px solid #858585;
    
}