/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  background-color: #383838;
  font-family: 'Oxygen', sans-serif;
  position: relative;
  height: 1200px; }

header {
  width: 100vw;
  background-color: black; }
  header > #logo {
    width: 100%;
    height: 20vh;
    background: #000000 url(/style/css/logo.jpg) no-repeat center;
    background-size: cover; }
  header nav {
    width: 100vw;
    display: grid; }
    header nav div > button.listMenuDisplay {
      display: flex;
      place-items: center;
      position: relative;
      float: right;
      background-color: black;
      border: none;
      width: 50px;
      height: inherit;
      padding: 0px;
      padding-top: 0px;
      margin: 0px .5em auto 0.5em;
      outline: none; }
      header nav div > button.listMenuDisplay div {
        background-color: #F2B705;
        margin-bottom: 0px; }
    header nav div {
      height: 50px;
      background-color: black; }

.burger {
  width: 100%;
  height: 14.5%;
  border-radius: 25px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4); }
  .burger:first-child {
    background-color: gold;
    transform: translate(0px, -16px); }
    .burger:first-child:visited {
      background-color: red; }
  .burger:nth-child(2) {
    background-color: gold; }
  .burger:last-child {
    background-color: gold;
    transform: translate(0, 16px); }

ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  justify-content: center; }
  ul > li {
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
    margin-bottom: 10px; }
    ul > li:first-child {
      margin: 1em; }
    ul > li:last-child {
      margin-bottom: 1em; }

a {
  text-decoration: none; }

.navButton {
  display: block;
  width: 60%;
  border: 2px solid #F2B705;
  border-radius: 25px;
  color: #F2B705;
  padding: .25em;
  margin: 0px auto; }

li .navButton:hover {
  color: black;
  box-shadow: 2px -2px 5px -2px #F2B705;
  transform: scale(1.1);
  font-size: 1.3  em;
  font-weight: 450;
  background: radial-gradient(circle, #fbd03f 0%, #f2bf29 100%); }

h1 {
  height: 50%;
  margin: 0px; }

.logo {
  margin: auto;
  font-weight: 600; }

.imgsvg {
  position: absolute;
  top: 20%; }

/* 
Color:
logo:#daa51f

#F2CB05
#F2BF29
#fbd03f
F05 //color orange?
radial-gradient: background: radial-gradient(circle, rgba(251,208,63,1) 0%, rgba(242,191,41,1) 100%);
#F2F2F2
#262626
*/
.appearFormButton {
  position: fixed;
  border-radius: 50%;
  right: 1em;
  top: 90vh; }

.appearContact {
  animation: makeFormAppear 1s cubic-bezier(0.24, 0.85, 0.74, 0.92) forwards; }

.disappearContact {
  animation: makeFormDisappear 1s ease-in forwards; }

form {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 481px;
  top: 20vh;
  right: 0px; }

/* form field */
label {
  display: block;
  font-weight: 100;
  margin-left: .25em; }

input::placeholder {
  color: black; }

.userData {
  font-weight: 500;
  background-color: #F2F2F2;
  color: #262626;
  height: 0.5em;
  padding: 1em;
  font-size: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #585858; }

textarea.userData {
  margin-bottom: 0px;
  font-family: inherit;
  min-height: 4em;
  resize: none;
  border-bottom: none; }

.dogSizeCheckbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: .75em;
  margin-bottom: .5em;
  justify-content: space-evenly; }
  .dogSizeCheckbox > label > span {
    align-items: center; }

.sizeValue > {
  color: #0c1c2b; }

.inputValid {
  border-left: 0.5em solid #3d903d;
  animation: validationMark .5s ease; }

.inputInvalid {
  border-left: 0.5em solid #be4141;
  animation: validationMark .5s ease; }

@keyframes validationMark {
  from {
    border-left: 0em solid; }
  to {
    border-left: 0.5em solid; } }

@keyframes makeFormAppear {
  0% {
    right: -320px; }
  50% { }
  100% {
    right: 0px; } }

@keyframes makeFormDisappear {
  to {
    right: -320px; } }

/* input field */
/* form email button styles */
section {
  display: flex;
  flex-direction: row; }

.slider {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 50vh;
  background-size: contain; }

.slide {
  display: none; }

.activeSlide {
  display: block; }

i {
  display: inline-block;
  width: 12.5%;
  height: inherit;
  background-color: #F2B705; }

@media screen and (max-width: 481px) {
  body {
    display: flex;
    flex-direction: column; }
  #logo {
    width: 100vw; } }

@media screen and (max-width: 320px) {
  body {
    display: flex;
    flex-direction: column; }
  #logo {
    width: 100vw; } }

section {
  width: 100vw; }

.beng .bar1 {
  animation: reSpin 300ms cubic-bezier(0.8, 0, 0.2, 1) forwards; }

.beng .bar2 {
  animation: middleBarNonDisplay 300ms forwards; }

.beng .bar3 {
  animation: spin 300ms cubic-bezier(0.8, 0, 0.2, 1) forwards; }

@keyframes middleBarNonDisplay {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes spin {
  0% {
    transform: translate(0px, -16px); }
  50% {
    transform: translate(0px, 0px); }
  100% {
    transform: rotate(45deg); } }

@keyframes reSpin {
  0% {
    transform: translate(0px, 16px); }
  50% {
    transform: translate(0px, 0px); }
  100% {
    transform: rotate(-45deg); } }

form {
  display: none; }
