/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.beng .bar1 {
  animation: spin 400ms cubic-bezier(0.8, 0, 0.2, 1) forwards; }

.beng .bar2 {
  display: none; }

.beng .bar3 {
  animation: reSpin 400ms cubic-bezier(0.8, 0, 0.2, 1) forwards; }

.bengShift .bar1 {
  animation: reSpin 400ms cubic-bezier(0.8, 0, 0.2, 1) reverse forwards; }

.bengShift .bar2 {
  animation: middleBarShow 400ms ease; }

.bengShift .bar3 {
  animation: spin 400ms cubic-bezier(0.8, 0, 0.2, 1) reverse forwards; }

@keyframes middleBarShow {
  from {
    transform: translateX(58px);
    opacity: 0; }
  to {
    transform: translate(0px);
    opacity: 1; } }

@keyframes spin {
  0% {
    transform: translate(0px, -16px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: rotate(-45deg); } }

@keyframes reSpin {
  0% {
    transform: translate(0px, 16px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: rotate(45deg); } }

.linkList {
  animation: SlideDown 300ms ease; }

.linkListHide {
  animation: SlideDown 300ms ease reverse forwards; }

@keyframes SlideDown {
  from {
    transform: translateY(-200px); }
  to {
    transform: translateY(0px); } }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  background-color: #383838;
  font-family: 'Oxygen', sans-serif; }

header {
  width: 100%;
  min-height: 20vh;
  background-color: black;
  box-shadow: 0px 3px 4px black; }
  header > #logo {
    display: flex;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 110px;
    background-size: cover;
    background-color: black; }
    header > #logo > h1 {
      z-index: 2;
      align-content: center;
      text-shadow: 2px 1px 20px #F2B705; }
      header > #logo > h1 > .site__header--h1--href {
        width: inherit;
        height: inherit;
        text-decoration: none;
        color: #F2CB05; }
  header nav {
    width: 100%;
    display: grid; }
    header nav > #screenNavbar {
      z-index: 2; }
    header nav div > button.listMenuDisplay {
      display: flex;
      place-items: center;
      position: relative;
      float: right;
      background-color: black;
      border: none;
      width: 50px;
      height: inherit;
      padding: 0px;
      padding-top: 0px;
      margin: 0px .5em auto 0.5em;
      outline: none; }
      header nav div > button.listMenuDisplay div {
        background-color: #F2B705;
        margin-bottom: 0px; }
    header nav div {
      height: 50px;
      background-color: black; }

.site__header--logo--href {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.burger {
  width: 100%;
  height: 14.5%;
  border-radius: 25px;
  position: absolute;
  background: rgba(0, 0, 0, 0.8); }
  .burger:first-child {
    background-color: gold; }
  .burger:nth-child(2) {
    background-color: gold; }
  .burger:last-child {
    background-color: gold; }

ul {
  max-height: 200px;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  justify-content: center; }
  ul > li {
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
    margin-bottom: 10px; }
    ul > li:first-child {
      margin-top: 1em; }
    ul > li:last-child {
      margin-bottom: 1em; }

a {
  text-decoration: none; }

.navButton {
  display: block;
  width: 60%;
  border: 2px solid #F2B705;
  border-radius: 25px;
  color: #F2B705;
  padding: .25em;
  margin: 0px auto; }

li .navButton:hover {
  color: black;
  box-shadow: 2px -2px 5px -2px #F2B705;
  transform: scale(1.1);
  font-size: 1.3  em;
  font-weight: 450;
  background: radial-gradient(circle, #fbd03f 0%, #f2bf29 100%); }

.imgsvg {
  position: absolute;
  top: 20%; }

/* 
Color:
logo:#daa51f

#F2CB05
#F2BF29
#fbd03f
F05 //color orange?
radial-gradient: background: radial-gradient(circle, rgba(251,208,63,1) 0%, rgba(242,191,41,1) 100%);
#F2F2F2
#262626
*/
.appearFormButton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 1em;
  top: 82.5vh;
  background-color: #F2CB05; }

.appearContact {
  animation: makeFormAppear 400ms ease-in-out; }

.disappearContact {
  animation: makeFormDisappear 400ms ease-in-out forwards; }

form {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 481px;
  top: 10vh;
  right: 0px;
  background-color: rgba(58, 58, 57, 0.7);
  z-index: 5;
  padding: 16px;
  border-radius: 15px; }

/* form field */
label {
  display: block;
  font-weight: 300;
  margin-left: .25em;
  color: #ddbc58; }

input::placeholder {
  color: black; }

.userData {
  font-weight: 500;
  background-color: #F2F2F2;
  color: #262626;
  height: 0.5em;
  padding: 1em;
  font-size: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #585858; }

textarea.userData {
  margin-bottom: 0px;
  font-family: inherit;
  min-height: 8em;
  resize: none;
  border-bottom: none; }

.dogSizeCheckbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: .75em;
  margin-bottom: .5em;
  justify-content: space-evenly; }
  .dogSizeCheckbox > label > span {
    align-items: center; }

.sizeValue > {
  color: #0c1c2b; }

.inputValid {
  border-left: 0.5em solid #3d903d;
  animation: validationMark .5s ease; }

.inputInvalid {
  border-left: 0.5em solid #be4141;
  animation: validationMark .5s ease; }

@keyframes validationMark {
  from {
    border-left: 0em solid; }
  to {
    border-left: 0.5em solid; } }

@keyframes makeFormAppear {
  0% {
    right: -320px; }
  100% {
    right: 0px; } }

@keyframes makeFormDisappear {
  from {
    right: 0; }
  to {
    right: -320px; } }

/* input field */
form button {
  position: relative;
  min-height: 2em;
  padding: 1em;
  font-size: large;
  background-color: #F2CB05;
  border: 1px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }

form button::before {
  content: '';
  display: inline-block;
  height: 2px;
  position: absolute;
  top: 80%;
  left: 35%;
  text-align: center; }

form button:hover {
  background-color: #F2B705; }

/* form email button styles */
.slider {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 50vh;
  background-size: contain; }

.slide {
  display: none; }

.activeSlide {
  display: block; }

i {
  display: inline-block;
  width: 12.5%;
  height: inherit;
  background-color: #F2B705; }

section {
  width: 100%; }

.card {
  max-width: 445.56px;
  min-width: 140px;
  overflow: hidden;
  position: relative;
  float: left; }
  .card .card__img::hover {
    cursor: pointer;
    transform: scale(1.4); }

img.card__img {
  width: 100%;
  margin: 0.5em;
  object-fit: contain; }

#linkList {
  transition: all 300ms linear; }

@media screen and (max-width: 370px) {
  header > div#logo {
    position: relative;
    z-index: 2; }
    header > div#logo > a.site__header--logo--href {
      min-height: 110px;
      background: #000000 url("/style/css/logo.jpg") no-repeat center;
      background-size: cover;
      background-position: 0px -30px; }
    header > div#logo > h1.site__header--h1--logo {
      display: none; } }

@media screen and (min-width: 370px) and (max-width: 480px) {
  header div#logo > a.site__header--logo--href {
    display: none; }
  header div#logo > h1.site__header--h1--logo {
    display: grid;
    background-image: none;
    font-size: 3.225rem;
    color: #F2B705;
    text-align: center;
    font-family: 'Monoton', cursive; } }

@media screen and (min-width: 481px) {
  header > #logo {
    background-image: none;
    font-size: 4.5rem;
    color: #F2B705;
    text-align: center;
    font-family: 'Monoton', cursive;
    align-items: center;
    justify-content: center; }
    header > #logo > a.site__header--logo--href {
      display: none; }
  header > nav > ul {
    min-height: 50px;
    flex-direction: row; }
    header > nav > ul li, header > nav > ul li:first-child, header > nav > ul li:last-child {
      width: 25%;
      margin: 0px;
      align-self: center; }
      header > nav > ul li a, header > nav > ul li:first-child a, header > nav > ul li:last-child a {
        min-width: 110px;
        width: 75%;
        margin: auto; } }

@media screen and (min-width: 1025px) {
  header {
    display: flex; }
    header > #logo {
      width: 35%; }
      header > #logo > a.site__header--logo--href {
        min-height: 110px;
        max-width: 100%;
        background: #000000 url("/style/css/logo.jpg") no-repeat center;
        background-size: cover;
        display: block; }
      header > #logo > .site__header--h1--logo {
        display: none;
        place-items: center; }
    header > nav {
      width: 65%; }
      header > nav ul {
        align-items: center;
        align-self: center; }
        header > nav ul > li, header > nav ul li:first-child, header > nav ul li:last-child {
          max-width: 150px;
          margin: 0px; } }

@media screen and (min-width: 1201px) {
  header > {
    max-height: 35vh; }
    header > > div#logo > a.site__header--logo--href {
      background-position: 0px 15px;
      display: block; }
    header > nav > ul {
      align-self: center;
      justify-content: flex-end; }
      header > nav > ul > li, header > nav > ul li:first-child, header > nav > ul li:last-child {
        justify-self: stretch;
        place-self: center right; }
        header > nav > ul > li a.navButton, header > nav > ul li:first-child a.navButton, header > nav > ul li:last-child a.navButton {
          width: 80%;
          margin: 0px; }
    header > section > article > div.card {
      width: 33%; } }

.footer {
  display: block;
  min-height: 3.5rem;
  width: 100%;
  position: static;
  text-align: center;
  bottom: 0px;
  background-color: black;
  color: #F2B705;
  padding-top: .5em; }
  .footer span {
    display: inline-block;
    font-size: x-small;
    width: 100%; }
  .footer p {
    margin: auto;
    border-bottom: 1px solid #F2B705;
    width: 50%; }

.hellow {
  color: #F2B705;
  text-align: center;
  font-size: 2.725em;
  font-weight: 300;
  padding: 1.9em;
  line-height: 1.25em;
  font-family: 'Monoton', cursive;
  text-shadow: 1px 2px 5px #F2CB05;
  position: relative;
  word-spacing: 0.5em; }

.hellowMessage {
  margin-left: .5em;
  padding: 1em;
  font-size: 1.25em;
  font-weight: 200;
  line-height: 1.5;
  color: #F2B705;
  text-align: justify; }

span.adnotation {
  text-align: center;
  color: white;
  font-size: 1.425em;
  padding: 1em 1em 3.5em .5em;
  display: block;
  line-height: 1.4; }

section > article.introduce {
  background-color: black;
  min-height: 75vh; }

.mail.icon {
  color: #000;
  position: absolute;
  width: 17px;
  height: 10px;
  border-radius: 1px;
  border: solid 1px currentColor;
  transform: scale(2);
  transform-origin: center center; }

.mail.icon:before {
  content: '';
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotate(-54deg);
  transform: rotate(-54deg); }

.mail.icon:after {
  content: '';
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotate(54deg);
  transform: rotate(54deg); }

.spaceDog {
  max-height: 500px;
  float: left; }
